<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end" *ngIf="isOwnProfile">
      <ion-button routerLink="/scenery/tabs/profile/edit">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="user">
  <div class="ion-text-center">
    <ion-avatar>
      <ion-img *ngIf="user.profileImageUrl; else placeholder" [src]="user.profileImageUrl"></ion-img>
      <ng-template #placeholder>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ng-template>
    </ion-avatar>
    <ion-button *ngIf="isOwnProfile" fill="outline" (click)="onPickPhoto()">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      {{ user.profileImageUrl ? 'Change photo' : 'Add photo' }}
    </ion-button>
    <ion-button *ngIf="!isOwnProfile" [color]="user.isFollowedByCurrentUser ? 'medium' : 'primary'" [disabled]="isFollowChanging" (click)="toggleFollow()">
      <ion-icon slot="start" [name]="user.isFollowedByCurrentUser ? 'person-remove-outline' : 'person-add-outline'"></ion-icon>
      {{ user.isFollowedByCurrentUser ? 'Unfollow' : 'Follow' }}
    </ion-button>
  </div>

  <ion-item lines="none">
    <ion-label>
      <h1>{{ user.displayName }}</h1>
      <p *ngIf="user.email">{{ user.email }}</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" *ngIf="user.bio">
    <ion-label class="ion-text-wrap">
      <h3>Bio</h3>
      <p>{{ user.bio }}</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" *ngIf="user.birthDate">
    <ion-label>
      <h3>Birth date</h3>
      <p>{{ user.birthDate | date:'longDate' }}</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" *ngIf="user.employment">
    <ion-label class="ion-text-wrap">
      <h3>Employment</h3>
      <p>{{ user.employment }}</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" *ngIf="user.education">
    <ion-label class="ion-text-wrap">
      <h3>Education</h3>
      <p>{{ user.education }}</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" *ngIf="user.hobbies">
    <ion-label class="ion-text-wrap">
      <h3>Hobbies</h3>
      <p>{{ user.hobbies }}</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" button [routerLink]="['/scenery/tabs/profile', user.id, 'followers']">
    <ion-label>Followers</ion-label>
    <ion-note slot="end">{{ user.followerCount }}</ion-note>
  </ion-item>
  <ion-item lines="none" button [routerLink]="['/scenery/tabs/profile', user.id, 'following']">
    <ion-label>Following</ion-label>
    <ion-note slot="end">{{ user.followingCount }}</ion-note>
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      <h3>Current location</h3>
      <p *ngIf="user.latitude != null && user.longitude != null">
        {{ user.latitude | number:'1.4-4' }}, {{ user.longitude | number:'1.4-4' }}
      </p>
      <p *ngIf="user.latitude == null || user.longitude == null">Not set</p>
    </ion-label>
  </ion-item>
  <ion-button *ngIf="isOwnProfile" expand="block" fill="outline" [disabled]="isLocating" (click)="useCurrentLocation()">
    <ion-icon slot="start" name="locate-outline"></ion-icon>
    {{ isLocating ? 'Locating...' : 'Use current location' }}
  </ion-button>
  <ion-note color="danger" *ngIf="locationError">
    Couldn't get your current location.
  </ion-note>

  <ion-button *ngIf="isOwnProfile" expand="block" routerLink="/scenery/tabs/my-scenes">
    <ion-icon slot="start" name="globe"></ion-icon>
    View my scenes
  </ion-button>

  <ion-note color="medium" *ngIf="isSaving">Saving...</ion-note>
  <ion-note color="danger" *ngIf="saveError">Unable to save your profile.</ion-note>

  <ion-item *ngIf="isOwnProfile" lines="none">
    <ion-label>
      <h3>Account</h3>
      <p>Manage your account and data.</p>
    </ion-label>
  </ion-item>
  <ion-button *ngIf="isOwnProfile" expand="block" fill="outline" color="danger" (click)="confirmDeleteAccount()">
    Delete account
  </ion-button>
  <ion-button *ngIf="isOwnProfile" expand="block" fill="clear" routerLink="/legal/support">
    Contact support
  </ion-button>
</ion-content>
