<ion-header>
  <ion-toolbar>
    <ion-title>{{ isRegistering ? 'Create account' : 'Sign in' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <ion-item *ngIf="isRegistering">
      <ion-input label="Display name" labelPlacement="stacked" formControlName="displayName"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="isRegistering && authForm.controls.displayName.touched && authForm.controls.displayName.invalid">
      Enter a display name.
    </ion-note>
    <ion-item>
      <ion-input label="Email" labelPlacement="stacked" type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password" labelPlacement="stacked" type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="authError">Unable to authenticate with those details.</ion-note>
      <ion-note color="success" *ngIf="recoverySent">If an account exists, a reset link has been sent.</ion-note>
    <ion-note color="medium" *ngIf="developmentResetToken">
      Development reset token: {{ developmentResetToken }}
    </ion-note>
    <ion-button expand="block" type="submit" [disabled]="isSubmitting">
      {{ isSubmitting ? 'Please wait...' : (isRegistering ? 'Create account' : 'Sign in') }}
    </ion-button>
  </form>
  <ion-button *ngIf="!isRegistering" expand="block" fill="clear" (click)="onForgotPassword()">
    Forgot password?
  </ion-button>
  <ion-button expand="block" fill="clear" (click)="toggleMode()">
    {{ isRegistering ? 'Already have an account? Sign in' : 'Need an account? Register' }}
  </ion-button>
  <ion-text color="medium">
    <p class="ion-text-center">
      By using GeoScenery, you agree to our
      <a routerLink="/legal/terms">Terms</a> and
      <a routerLink="/legal/privacy">Privacy Policy</a>.
      <a routerLink="/legal/community">Community Guidelines</a>.
    </p>
  </ion-text>
</ion-content>
