<ion-header>
  <ion-toolbar>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="!completed" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input label="New password" labelPlacement="stacked" type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Confirm password" labelPlacement="stacked" type="password" formControlName="confirmation"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="resetError">This reset link is invalid, expired, or the passwords do not match.</ion-note>
    <ion-button expand="block" type="submit" [disabled]="isSubmitting">
      {{ isSubmitting ? 'Please wait...' : 'Set new password' }}
    </ion-button>
  </form>
  <ion-note color="success" *ngIf="completed">Your password has been reset. You can sign in now.</ion-note>
  <ion-button expand="block" fill="clear" (click)="backToLogin()">Back to sign in</ion-button>
</ion-content>