<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/scenery/tabs/my-scenes"></ion-back-button>
    </ion-buttons>
    <ion-title>New Scene</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="sceneForm" (ngSubmit)="onSave()">
    <ion-item>
      <ion-input label="Title" labelPlacement="stacked" formControlName="title"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="sceneForm.controls.title.touched && sceneForm.controls.title.invalid">
      Enter a title.
    </ion-note>

    <ion-item>
      <ion-textarea label="Description" labelPlacement="stacked" formControlName="description" [autoGrow]="true"></ion-textarea>
    </ion-item>
    <ion-note color="danger" *ngIf="sceneForm.controls.description.touched && sceneForm.controls.description.invalid">
      Enter a description.
    </ion-note>

    <ion-img *ngIf="sceneForm.controls.imageUrl.value" [src]="sceneForm.controls.imageUrl.value"></ion-img>
    <ion-button expand="block" fill="outline" type="button" (click)="onPickImage()">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      {{ sceneForm.controls.imageUrl.value ? 'Change photo' : 'Add photo' }}
    </ion-button>
    <ion-note color="danger" *ngIf="sceneForm.controls.imageUrl.touched && sceneForm.controls.imageUrl.invalid">
      Add a photo.
    </ion-note>

    <ion-item>
      <ion-input label="Rating" labelPlacement="stacked" type="number" formControlName="rating"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Latitude" labelPlacement="stacked" type="number" formControlName="latitude"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Longitude" labelPlacement="stacked" type="number" formControlName="longitude"></ion-input>
    </ion-item>
    <ion-button expand="block" fill="outline" type="button" [disabled]="isLocating" (click)="useCurrentLocation()">
      <ion-icon slot="start" name="locate-outline"></ion-icon>
      {{ isLocating ? 'Locating...' : 'Use current location' }}
    </ion-button>
    <ion-note color="danger" *ngIf="locationError">
      Couldn't get your current location. You can enter it manually above.
    </ion-note>

    <ion-button expand="block" type="submit" [disabled]="isSaving">
      {{ isSaving ? 'Saving...' : 'Save scene' }}
    </ion-button>
    <ion-note color="danger" *ngIf="saveError">Unable to save this scene.</ion-note>
  </form>
</ion-content>
